---
import BaseLayout from "../layouts/Layout.astro";
// import ProductCard from "../components/ProductCart.astro";
import Filters from "../components/Filters.tsx";
import type { Product } from "../producs"; // Importa el tipo

// Hacer una solicitud al backend para obtener los productos
const response = await fetch("http://localhost:3001/api/products");
const products = (await response.json()) as Product[]; // Define el tipo de `products`
---

<BaseLayout>
  <h1 class="text-4xl font-bold text-center my-8 text-gray-800">
    Productos Destacados
  </h1>

  <!-- Componente de filtros en React -->
  <Filters client:load products={products} />

</BaseLayout>
